<section class="lg:w-[80%] w-full lg:mx-auto text-center">
    <h1 class="text-6xl font-semibold">¡Retos.!</h1>
    <p class="p-6 opacity-50">
        Estos son algunos <b>Retos</b>, para Programar
    </p>
</section> 
