<section class="flex justify-center gap-6 mt-9 h-[90vh] items-center animBG">
    <h1 class="flex gap-2 text-6xl font-bold mt-6">
      <span>ยก</span>
      <span>20</span>
      <span
        class="text-transparent bg-gradient-to-tl from-yellow-300 animOpacity to-white bg-clip-text"
        >Retos</span
      >
      <span>!</span>
    </h1>
    <img src="/public/Logo.svg" class="rotate-6" alt="JavaScript Logo." />
    <div class="absolute grid grid-cols-3 gap-10 blur-sm opacity-50 -z-10">
      <img src="/public/Logo.svg" class="rotate-6" alt="JavaScript Logo." />
      <img src="/public/Logo.svg" class="-rotate-6" alt="JavaScript Logo." />
      <img src="/public/Logo.svg" class="rotate-6" alt="JavaScript Logo." />
      <img src="/public/Logo.svg" class="-rotate-6" alt="JavaScript Logo." />
    </div>
  </section>